:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #2E2E2C;
  --color-light: #FAFAFA;
  --color-light-translucent: #FAFAFA88;
  --color-parchment: #FCF6E7;
  --color-primary: #134232;
  --color-secondary: #8B6B4A ;
}

html {
  color: var(--color-dark);
  background-color: var(--color-parchment);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}

img {
  border-radius: 4px;
}
